<div class="content-wrapper"
     style="background-color: #f9f9f9; min-height: 587px; padding-top: 15px;">
    <div class="container-fluid">
        <div class="col-md-2">
            <div class="box" style="margin-bottom: 10px;">
                <div class="box-header with-border"
                     style="border-bottom: 1px solid #efefef;">
                    <h3 class="box-title">
                       Ver Pedidos para exportar
                    </h3>
                </div>
                <div class="box-body">
                    <button class="btn btn-rta col-sm-12"
                            ng-click="ver_modal_cotizaciones()"
                            style="margin-bottom: 10px;"
                            title="Buscar PEDIDOS Generados"
                            type="button">
                        <i class="fa fa-search" style="font-size: 28px;"></i>
                    </button>
                    <div ng-if="list_productos_seleccionados.length > 0">
                        <!--<button class="btn btn-rta col-sm-12"
                                ng-click="guardar()"
                                ng-if="obj_encabezado_cotizacion.ESTADO_COTIZACION == 1"
                                style="margin-bottom: 10px;"
                                title="Guardar Cotización"
                                type="button">
                            <i class="fa fa-check-square-o" style="font-size: 28px;"></i>
                        </button>-->

                        <button class="btn btn-rta col-sm-12"
                                ng-click="cerrar_cotizacion()"
                                ng-if="obj_encabezado_cotizacion.ESTADO_COTIZACION == 1"
                                style="margin-bottom: 10px;"
                                title="Cerrar Cotización"
                                type="button">
                            <i class="fa fa-minus-square" style="font-size: 28px;"></i>
                        </button>
                        <!--<button class="btn btn-rta col-sm-12"
                                ng-click="guardar()"
                                title="Enviar Cotización"
                                type="button">
                            <i class="fa fa-paper-plane" style="font-size: 25px;"></i>
                        </button>-->
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-10">
        <div id="form-cotizacion">
        <div class="box" style="margin-bottom: 10px;">
        <div class="box-header with-border"
             style="border-bottom: 1px solid #efefef;">
            <h3 class="box-title">
                Pedido a exportar Nro. <b style="font-size: larger;">PW - {{obj_encabezado_cotizacion.cs_cotizacion}}</b>
            </h3>
            <div class="box-tools pull-right">
                <button class="btn btn-box-tool"
                        ng-click="limpiar_formulario()"
                        tooltip-placement="top"
                        type="button"
                        uib-tooltip="Limpiar">
                    <i class="fa fa-refresh"
                       style="font-size: 23px;"></i>
                </button>
            </div>
        </div>
        <div class="box-body">
            <fieldset ng-disabled="obj_encabezado_cotizacion.ESTADO_COTIZACION == 2" id="myFieldset" ng-show="swMostrarItems">
                <!--<div class="row">
                    <div class="col-md-6">
              
                        <div class="form-group">
                            <label>Filtrar Cliente:</label>

                            <select class="form-control font-madecentro font_size_15px"
                                    id="seleccion_cliente"></select>
                        </div>

                    </div>
                <div class="col-md-4">
                    <button class="btn btn-rta font_size_16px" ng-click="getInformacioncliente()" type="submit">Buscar cliente</button>
                </div>
                
                </div>-->
                <div class="row">

                    <div class="col-md-4">
                        <div class="form-group">
                            <label>Nombre completo cliente</label>
                            <input disabled="" type="text" class="form-control" placeholder="..." ng-model="obj_encabezado_cotizacion.nombre_cliente" style="text-transform: uppercase">
                        </div>
                    </div>
                    <div class="col-md-4">
                        <div class="form-group">
                            <label>Establecimiento</label>
                            <input disabled="" type="text" class="form-control" placeholder="..." ng-model="obj_encabezado_cotizacion.establecimiento" style="text-transform: uppercase">
                        </div>
                    </div>

                    <div class="col-md-4">
                        <div class="form-group">
                            <label>Código Vendedor</label>
                            <input type="text" disabled="" class="form-control" placeholder="..." style="text-transform: uppercase" ng-model="obj_encabezado_cotizacion.codigo_vendedor">
                        </div>
                    </div>
                </div>
                <div class="row">


                    <div class="col-md-4">
                        <div class="form-group">
                            <label>Vendedor</label>
                            <input type="text" disabled="" class="form-control" placeholder="..." style="text-transform: uppercase" ng-model="obj_encabezado_cotizacion.nombre_vendedor">
                        </div>
                    </div>
                    <div class="col-md-4">
                        <div class="form-group">
                            <label>Cartera corriente</label>
                            <input type="text" disabled="" class="form-control" placeholder="..." style="text-transform: uppercase" ng-model="obj_encabezado_cotizacion.cartera_corriente"  ui-number-mask="0">
                        </div>
                    </div>

                    <div class="col-md-4">
                        <div class="form-group">
                            <label>Cartera vencida</label>
                            <input type="text" disabled="" class="form-control" placeholder="..." style="text-transform: uppercase" ng-model="obj_encabezado_cotizacion.cartera_vencida"  ui-number-mask="0">
                        </div>
                    </div>

                </div>

                <div class="row">


                    <div class="col-md-4">
                        <div class="form-group">
                            <label>Total cartera</label>
                            <input type="text" disabled="" class="form-control" placeholder="..." style="text-transform: uppercase" ng-model="obj_encabezado_cotizacion.total_cartera" ui-number-mask="0">
                        </div>
                    </div>

                    <div class="col-md-4">
                        <div class="form-group">
                            <label>Forma de pago</label>
                            <input type="text" disabled="" class="form-control" placeholder="..." style="text-transform: uppercase" ng-model="obj_encabezado_cotizacion.d_forma_pago">
                        </div>
                    </div>

                    <div class="col-md-4">
                        <div class="form-group">
                            <label>Condición de pago</label>
                            <input type="text" disabled="" class="form-control" placeholder="..." style="text-transform: uppercase" ng-model="obj_encabezado_cotizacion.d_condicion_pago">
                        </div>
                    </div>
                </div>


                <div class="row">


                    <div class="col-md-4">
                        <div class="form-group">
                            <label>Flete</label>
                            <input type="text" class="form-control" placeholder="..." style="text-transform: uppercase" ng-model="obj_encabezado_cotizacion.flete">
                        </div>
                    </div>
                    <div class="col-md-4">
                        <div class="form-group">
                            <label>Observaciones</label>
                            <!--<input type="text" disabled="" class="form-control" placeholder="..." style="text-transform: uppercase" ng-model="obj_encabezado_cotizacion.cartera_corriente" ui-number-mask="0">-->

                            <textarea type="text" rows="4" cols="50" placeholder="..." style="text-transform: uppercase" ng-model="obj_encabezado_cotizacion.observaciones" class="form-control">
                          
                            </textarea>
                        </div>
                    </div>

                    <div class="col-md-4">
                        <div class="form-group">
                            <label>Fecha</label>
                            <div class="input-group date" id="dpFechaCotizacion">
                                <span class="input-group-addon">
                                    <span class="glyphicon glyphicon-calendar"></span>
                                </span>
                                <input disabled="" type="text" class="form-control font_size_15px" />
                            </div>
                        </div>
                    </div>

                </div>


                <!--<div class="row text-center">
                    <div class="col-md-2 col-md-offset-5">
                        <button class="btn btn-box-tool btn-rta col-md-12"
                                ng-click="generarConsecutivoCotizacion()"
                                ng-hide="obj_encabezado_cotizacion.ESTADO_COTIZACION == 2"
                                style="margin-bottom: 15px"
                                type="button"
                                tooltip-placement="left"
                                uib-tooltip="Comenzar cotización">
                            <i class="fa fa-check-circle"
                               style="font-size: 31px;"></i>
                        </button>
                    </div>
                </div>-->
            </fieldset>
            <div>
                <div class="box" style="margin-bottom: 10px; border-top: 3px solid #dadada !important;" ng-show="swMostrarItems">
                    <div class="box-header with-border"
                         style="border-bottom: 1px solid #efefef; padding-bottom: 20px;">
                        <h3 class="box-title">Agregar productos</h3>
                        <div class="box-tools pull-right">

                            <input class="btn-download-excel"
                                   id="myButtonControlID"
                                   ng-show="list_productos_seleccionados.length > 0"
                                   style="vertical-align: middle;"
                                   type="button"
                                   uib-tooltip="Exportar a excel"
                                   uib-tooltip-placement="left" 
                                   uib-tooltip-trigger="mouseenter"
                                   ng-click="cerrar_cotizacion()">

                            <!--<button class="btn btn-box-tool btn-rta"
                                    ng-click="show_modal_seleccion_proyecto()"
                                    ng-hide="obj_encabezado_cotizacion.ESTADO_COTIZACION == 2"
                                    type="button"
                                    style="height: 40px; width: 40px; padding: 0;">
                                <i class="fa fa-plus-circle"
                                   style="font-size: 31px;"
                                   tooltip-placement="left"
                                   uib-tooltip="Agregar nuevo producto"></i>
                            </button>-->
                        </div>
                    </div>
                    <div class="box-body">
                        <div class="row no-margin" style="overflow-x: scroll;">
                            <!--<pre>{{data_materiales_producto | json}}</pre>-->
                            <div class="col-md-12">
                                <table class="table table-hover table-condensed table-striped table-bordered" ng-if="list_productos_seleccionados.length > 0">
                                    <thead>
                                        <tr>
                                            <th>CÓDIGO</th>
                                            <th>REFERENCIA</th>
                                            <th>DESCRIPCIÓN</th>
                                            <th>LOCALIZACIÓN</th>
                                            <th>UM</th>
                                            <th>LISTA PRECIO</th>
                                            <th>CANTIDAD</th>
                                            <th>VALOR UNITARIO</th>
                                            <th>VALOR</th>
                                            <!--<th style="width: 140px"></th>-->
                                        </tr>
                                    </thead>
                                    <tbody>

                                        <tr ng-repeat="item in list_productos_seleccionados">

                                            <td>{{item.ID_ITEM}}</td>
                                            <td>{{item.REFERENCIA_PT}}</td>
                                            <td>{{item.D_REFERENCIA_PT}}</td>
                                            <td>{{item.ID_LOCALIZACION}}</td>
                                            <td>{{item.UNIDAD_MEDIDA}}</td>
                                            <td>{{item.C_LISTA_PRECIO}}-{{item.D_LISTA_PRECIO}}</td>
                                            <td>{{item.CANTIDAD}}</td>
                                            <td>${{item.VALOR/item.CANTIDAD | number:0}}</td>
                                            <td>${{item.VALOR | number:0}}</td>
                                            <!--<td class="text-center">
                                                <div class="btn-group">

                                                    <button class="btn btn-rta"
                                                            ng-click="remover_producto(item)"
                                                            ng-hide="obj_encabezado_cotizacion.ESTADO_COTIZACION == 2"
                                                            title="Eliminar el producto de la lista">
                                                        <i class="fa fa-trash-o" style="font-size: 20px;"></i>
                                                    </button>
                                                </div>

                                            </td>-->
                                        </tr>
                                    </tbody>
                                </table>
                            </div>
                        </div>

                     
                        <!--<div class="row" ng-if="list_productos_seleccionados.length > 0">
                            <div class="col-md-4 col-md-offset-8">
                                <div class="box box-default" style="border-top: 3px solid gray;">
                                    <div class="box-header with-border">
                                        <h3 class="box-title">
                                            Subtotal
                                        </h3>
                                    </div>
                                    <div class="box-body">
                                        <table class="table table-hover table-condensed table-striped">

                                            <tbody>
                                                <tr>
                                                    <td><span>Subtotal:</span></td>
                                                    <td><b>{{(obj_totales.total) | currency:"$":0}}</b></td>
                                                </tr>
                                                <tr>
                                                    <td><span>% Descuento:</span></td>

                                                    <td>
                                                        <input aria-describedby="basic-addon1"
                                                               class="form-control"
                                                               ng-model="obj_totales.pj_descuento"
                                                               placeholder="..."
                                                               required
                                                               x-validacion-auto="porcentaje"
                                                               ng-change="totalizar_producto()">
                                                    </td>
                                                </tr>

                                                <tr>
                                                    <td><span>Valor Descuento:</span></td>
                                                    <td><b>{{obj_totales.vr_descuento | currency:"$":0}}</b></td>
                                                </tr>
                                                <tr>
                                                    <td><span>Base/Imp:</span></td>
                                                    <td><b>{{(obj_totales.total - obj_totales.vr_iva) | currency:"$":0}}</b></td>
                                                </tr>
                                                <tr>
                                                    <td><span>% Iva:</span></td>
                                                    <td><b>{{obj_totales.pj_iva}}%</b></td>
                                                </tr>
                                                
                                                <tr>
                                                    <td><span>Impuesto:</span></td>
                                                    <td><b>{{obj_totales.vr_iva | currency:"$":0}}</b></td>
                                                </tr>
                                                <tr>
                                                    <td><span><b>Valor Total:</b></span></td>
                                                    <td><b>{{obj_totales.total | currency:"$":0}}</b></td>
                                                </tr>
                                            </tbody>

                                        </table>
                                        <hr/>
                                        <div>
                                            <button class="btn btn-rtan" ng-click="imprimirCotizacion()">
                                                Imprimir pedido
                                            </button>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <hr />
                        </div>-->

                    </div>
                </div>
            </div>
            
            
            
            

        </div>
        </div>
        </div>

        <div id="divTableDataHolder" style="display: none">
            <!--style="display: none"-->

            <table class="table table-hover table-condensed table-striped table-bordered"
                   ng-if="list_productos_seleccionados.length > 0"
                   style="border: 1px solid #797979;font-size: 12px;border-spacing: 0;border-collapse: collapse;">
                <thead>
                <tr>
                    <th style="background: BLUE; color: white;font-weight: 100;border: 1px solid #797979;" rowspan="2">REFERENCIA</th>
                    <th style="background: BLUE; color: white;font-weight: 100;border: 1px solid #797979;" rowspan="2">DESCRIPCTION</th>
                    <th style="background: BLUE; color: white;font-weight: 100;border: 1px solid #797979;" rowspan="2">MOTIVO</th>
                    <th style="background: BLUE; color: white; font-weight: 100; border: 1px solid #797979;" rowspan="2">CO</th>
                    <th style="background: BLUE; color: white; font-weight: 100; border: 1px solid #797979;" rowspan="2">CANTIDAD</th>
                    <th style="background: BLUE; color: white; font-weight: 100; border: 1px solid #797979;" rowspan="2">LISTA PRECIO</th>
                    <th style="background: BLUE; color: white; font-weight: 100; border: 1px solid #797979;" rowspan="2">CENTRO COSTO</th>
                  
                    <!--<th style="background: #ffc800;font-weight: 100;border: 1px solid #797979;" colspan="3">Modulacion x Contenedor 4o pies</th>-->
                </tr>
               
                </thead>
                <tbody>
                <tr ng-repeat="item in list_productos_seleccionados" style="height: 230px;">
          
                    <td style="border: 1px solid #797979; vertical-align: middle;text-align: center;">{{item.REFERENCIA_PT}}</td>
                    <td style="border: 1px solid #797979; vertical-align: middle;text-align: center;">{{item.D_REFERENCIA_PT}}</td>
                    <td style="border: 1px solid #797979; vertical-align: middle;text-align: center;">{{item.MOTIVO}}</td>

                    <td style="border: 1px solid #797979; vertical-align: middle;text-align: center;">{{item.CO}}</td>
                    <td style="border: 1px solid #797979; vertical-align: middle;text-align: center;">{{item.CANTIDAD}}</td>
                    <td style="border: 1px solid #797979; vertical-align: middle;text-align: center;">{{item.C_LISTA_PRECIO}}</td>
                    <td style="border: 1px solid #797979; vertical-align: middle;text-align: center;">{{item.C_COSTO}}</td>
              
                   
                </tr>
                </tbody>
            </table>
        </div>
        
        
            <div id="detalleCot"
                 class="container flex-optionspopup-container position-flex-internal-values"
                 style="display: none;width: 100% !important; top: 5px; overflow: auto; margin: 15px !important;">

                <!--display: none;-->

                <link rel="stylesheet" type="text/css" href="">
                <div class="header-options">
                    <table style="width: 100% !important;">
                        <tr>
                            <td>
                                <div>
                                    <div id="divLogoCotizacion">
                                        <img id="imgCotizacion" src="/assets/img/logo_gales.png" alt="logo" class="col-sm-6 logo-menu-app" style="width: 28%;" />
                                    </div>
                                </div>
                            </td>
                        </tr>
                    </table>
                </div>
                <table class="table " style="font-size: 14px; width: 100%;">
                    <thead>
                        <tr style="background-color: gainsboro">
                            <th>
                                <div>
                                    <span>Cotizaci&oacute;n No.</span> <span class="negrita-font-bold">PW - {{obj_encabezado_cotizacion.cs_cotizacion}}</span>
                                </div>
                            </th>
                            <th></th>
                            <th></th>
                        </tr>
                    </thead>
                    <tbody style="border: 1px solid #ddd;">
                        <tr>
                            <td>
                                <div><span>Documento:</span> <span class="negrita-font-bold"> {{obj_encabezado_cotizacion.codigo_cliente}}</span></div>
                            </td>
                            <td>
                                <div><span>Cliente:</span> <span class="negrita-font-bold"> {{obj_encabezado_cotizacion.nombre_cliente}}</span></div>
                            </td>
                            <td>
                                <div><span>Establecimiento:</span> <span class="negrita-font-bold">{{obj_encabezado_cotizacion.establecimiento}}</span></div>
                            </td>
                        </tr>
                        <tr>
                            <td>
                                <div><span>Código Vendedor:</span> <span class="negrita-font-bold"> {{obj_encabezado_cotizacion.codigo_vendedor}}</span></div>
                            </td>
                            <td>
                                <div><span>Vendedor:</span> <span class="negrita-font-bold"> {{obj_encabezado_cotizacion.nombre_vendedor}}</span></div>
                            </td>
                            <td>
                                <div><span>Estado vencimiento cartera:</span> <span class="negrita-font-bold">{{obj_encabezado_cotizacion.estado_cartera}} </span></div>
                            </td>
                        </tr>

                        <tr>
                            <td>
                                <div><span>Forma de pago:</span> <span class="negrita-font-bold"> {{obj_encabezado_cotizacion.d_forma_pago}} </span></div>
                            </td>
                            <td colspan="2">
                                <div><span>Fecha:</span> <span class="negrita-font-bold"> {{obj_encabezado_cotizacion.fecha_cotizacion | toMomentDate}}</span></div>
                            </td>
                        </tr>
                    </tbody>
                </table>
                <table class="table table-hover table-condensed table-striped table-bordered" ng-if="list_productos_seleccionados.length > 0" style="width: 100%">
                    <thead>
                        <tr>
                            <th>CÓDIGO</th>
                            <th>REFERENCIA</th>
                            <th>DESCRIPCIÓN</th>
                            <th>LOCALIZACIÓN</th>
                            <th>UM</th>
                            <th>LISTA PRECIO</th>
                            <th>CANTIDAD</th>
                            <th>VALOR</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr ng-repeat="item in list_productos_seleccionados">

                            <td>{{item.ID_ITEM}}</td>
                            <td>{{item.REFERENCIA_PT}}</td>
                            <td>{{item.D_REFERENCIA_PT}}</td>
                            <td>{{item.ID_LOCALIZACION}}</td>
                            <td>{{item.UNIDAD_MEDIDA}}</td>
                            <td>{{item.C_LISTA_PRECIO}}-{{item.D_LISTA_PRECIO}}</td>
                            <td>{{item.CANTIDAD}}</td>
                            <td>${{item.VALOR | number:0}}</td>
                        </tr>
                    </tbody>
                </table>


                <table class="table-striped table-bordered" style="width: 100%; border: 1px solid">

                    <tr style="border-bottom: 1px solid gainsboro">
                        <td>
                            <div style="margin-left: 5px;"><span>Descuento:</span></div>
                        </td>
                        <td>
                            <div><span> {{obj_totales.vr_descuento}} </span></div>
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <div style="margin-left: 5px;"><span>Impuesto:</span></div>
                        </td>
                        <td>
                            <div><span> {{ obj_totales.vr_iva|currency:undefined}} </span></div>
                        </td>
                    </tr>
                    <tr>
                        <td style="font-weight: bold; font-size: 20px">
                            <div style="margin-left: 5px;"><span>TOTAL:</span></div>
                        </td>
                        <td>
                            <div><span style="font-weight: bold; font-size: 20px"> {{obj_totales.total|currency:undefined}} </span></div>
                        </td>
                    </tr>
                </table>
            </div>
        </div>
    </div>
</div>
<div ui-view="templateModal"></div>