<div class="content-wrapper"
     style="background-color: #f9f9f9; min-height: 587px; padding-top: 15px;">
    <div class="container-fluid">

        <div class="col-md-8 col-md-offset-2" ng-show="!swAgregarUsuario">
            <div class="box" style="margin-bottom: 10px;">
                <div class="box-header with-border"
                     style="border-bottom: 1px solid #efefef;">
                    <h3 class="box-title">
                        <b>Gestión usuarios</b> 
                    </h3>
                    <div class="box-tools pull-right">
                        <button class="btn btn-box-tool"
                                ng-click="swAgregarUsuario = true"
                                tooltip-placement="top"
                                type="button"
                                uib-tooltip="Agregar Usuario">
                            <i class="fa fa-plus-square"
                               style="font-size: 23px;"></i>
                        </button>
                    </div>

                </div>
                <div class="box-body">
                    <fieldset id="myFieldset2">

                   

                        <div class="row" style="padding: 30px;">

                            <table class="table table-condensed table-hover table-striped table-responsive"
                                   st-table="listaUsuarios"
                                   ng-if="listaUsuarios.length > 0">
                                <thead>
                                    <tr>
                                        <th></th>
                                        <th st-sort="DOCUMENTO">DOCUMENTO</th>
                                        <th st-sort="APELLIDOS_USUARIO">NOMBRE EMPLEADO</th>
                                        <th st-sort="USUARIO">USUARIO</th>
                                        <th st-sort="D_PERFIL">PERFIL USUARIO</th>
                                        <th></th>
                                    </tr>
                                    <tr>
                                        <th colspan="6">
                                            <input class="form-control"
                                                   placeholder="Búsqueda general"
                                                   st-search
                                                   type="search" />
                                        </th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr ng-repeat="item in listaUsuarios" style="cursor: pointer">

                                        <td>
                                            <i class="fa fa-user"></i>

                                        </td>
                                        <td>
                                            <span style="text-transform: uppercase">{{item.DOCUMENTO | number:0}} </span>
                                        </td>
                                        <td>
                                            <span style="text-transform: uppercase">{{item.NOMBRES_USUARIO}} &nbsp; {{item.APELLIDOS_USUARIO}} </span>
                                        </td>


                                        <td>
                                            <span style="text-transform: uppercase">{{item.USUARIO}} </span>
                                        </td>

                                        <td>
                                            <span style="text-transform: uppercase">{{item.D_PERFIL}} </span>
                                        </td>

                                        <td ng-click="verUpdateUsuario(item);">
                                            <!--<i title="Estado Cotización"-->
                                               <!--class="fa fa-edit" style="FONT-SIZE: 22PX; FONT-WEIGHT: bold; COLOR: #010180;"></i>-->
                                            
                                            <div class="">
                                                
                                                <button class="btn btn-rta"
                                                        ng-click="verUpdateUsuario(item)"
                                                        title="Modificar usuario">
                                                    <i class="fa fa-edit" style="font-size: 20px;"></i>
                                                </button>

                                                <button class="btn btn-rta"
                                                        ng-click="eliminarUsuario(item)"
                                                        title="Eliminar">
                                                    <i class="fa fa-trash-o" style="font-size: 20px;"></i>
                                                </button>
                                            </div>
                                        </td>
                                    </tr>
                                </tbody>

                                <tfoot>
                                    <tr>
                                        <td class="text-center"
                                            colspan="6"
                                            style="background: rgb(239, 239, 239);">
                                            <div st-displayed-pages="10"
                                                 st-items-by-page="10"
                                                 st-pagination=""
                                                 st-template="pagination.custom.html"></div>
                                        </td>
                                    </tr>
                                </tfoot>
                            </table>


                        </div>


       
                    </fieldset>

                </div>
            </div>
        </div>


        <div class="col-md-8 col-md-offset-2" ng-show="swAgregarUsuario">
            <div class="box" style="margin-bottom: 10px;">
                <div class="box-header with-border"
                     style="border-bottom: 1px solid #efefef;">
                    <h3 class="box-title">
                        <b> Gestión nuevos usuarios</b>
                    </h3>
                    <div class="box-tools pull-right">
                        <button class="btn btn-box-tool"
                                ng-click="swAgregarUsuario = false;limpiar()"
                                tooltip-placement="top"
                                type="button"
                                uib-tooltip="Ver Usuarios">
                            <i class="fa fa-undo"
                               style="font-size: 23px;"></i>
                        </button>
                    </div>
                </div>
                <div class="box-body">
                    <fieldset id="myFieldset">
                        
                  

                        <div class="row">
                            <div class="col-md-6">
                                <div class="form-group">
                                    <label>Nombres</label>
                                    <input type="text" class="form-control" placeholder="... " ng-model="objUsuarios.nombres" style="text-transform: uppercase">
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="form-group">
                                    <label>Apellidos</label>
                                    <input type="text" class="form-control" placeholder="... " ng-model="objUsuarios.apellidos" style="text-transform: uppercase">
                                </div>
                            </div>
                        </div>


                        <div class="row">
                            <div class="col-md-6">
                                <div class="form-group">
                                    <label>Docuemnto</label>
                                    <input type="text" class="form-control" placeholder="... " ng-model="objUsuarios.documento" style="text-transform: uppercase">
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="form-group">
                                    <label>Bodega</label>
                                    <input type="text" class="form-control" placeholder="... " ng-model="objUsuarios.bodega" style="text-transform: uppercase">
                                </div>
                            </div>
                        </div>



                        <div class="row">
                            <div class="col-md-6">
                                <div class="form-group">
                                    <label>Cargo</label>
                                    <input type="text" class="form-control" placeholder="... " ng-model="objUsuarios.cargo" style="text-transform: uppercase">
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="form-group">
                                    <label>PERFIL</label>
                                    <select style="padding: 0;" class="form-control"
                                            ng-model="objUsuarios.perfil"
                                            ng-options="item.C_PERFIL as item.D_PERFIL for item in listaPerfiles">
                                        <option value="">seleccione</option>
                                    </select>

                                    <!--<select class="form-control" ng-model="objUsuarios.perfil">

                                        <option value="">Seleccione </option>
                                        <option value="1">ADMINISTRADOR</option>
                                        <option value="2">VENDEDOR</option>
                                        <option value="2">OPERADOR</option>

                                    </select>-->
                                </div>
                            </div>
                        </div>



                        <div class="row">
                            <div class="col-md-6">
                                <div class="form-group">
                                    <label>Usuario</label>
                                    <input type="text" class="form-control" placeholder="... " ng-model="objUsuarios.usuario" style="text-transform: uppercase">
                                </div>
                            </div>

                            <div class="col-md-6">
                                <div class="form-group">
                                    <label>Constraseña</label>
                                    <input type="text" class="form-control" placeholder="... " ng-model="objUsuarios.password" style="text-transform: uppercase">
                                </div>
                            </div>
                        </div>



                        <div class="row text-center" ng-show="!swModificar">
                            <div class="col-md-2 col-md-offset-5">
                                <button class="btn btn-box-tool btn-rta col-md-12"
                                        ng-click="insertUsuario()"
                                        style="margin-bottom: 15px"
                                        type="button"
                                        tooltip-placement="left"
                                        uib-tooltip="Registrar ">
                                    <i class="fa fa-check-circle"
                                       style="font-size: 31px;"></i>
                                </button>
                            </div>
                        </div>



                        <div class="row text-center" ng-show="swModificar">
                            <div class="col-md-2 col-md-offset-5">
                                <button class="btn btn-box-tool btn-rta col-md-12"
                                        ng-click="updateUsuario()"
                                        style="margin-bottom: 15px"
                                        type="button"
                                        tooltip-placement="left"
                                        uib-tooltip="Modificar ">
                                    <i class="fa fa-check-circle"
                                       style="font-size: 31px;"></i>
                                </button>
                            </div>
                        </div>

                    </fieldset>

                </div>
            </div>
        </div>
    </div>
</div>
<div ui-view="templateModal"></div>